html{
    scroll-behavior: smooth;
    font-family: 'Italianno', cursive;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    cursor: none;
}

